@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: smooth;
  overflow-x: hidden;
  /* Prevents horizontal scroll */
}

body {
  user-select: none;
  /* Prevents text selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  font-family: "Montserrat", serif;
}

/* Hero section styles */
.hero {
  background: url("/asserts/hassan-wasim-4wutln9_8OM-unsplash (1).webp");
  background-position: center;
  background-size: cover;
  position: relative;
  width: auto;
  height: auto;

  overflow: hidden;
}

.hero-text h1 span {
  color: #006600;
}

/* Hero section styles */
.hero-Sub-Section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensures the image covers the section without distortion */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: Merriweather;
  font-size: 2.5vw;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-text h1 {
  margin-top: 5%;
}

.hero-text p {
  font-family: Georgia;
  margin-top: 1%;
}

/* Navbar styles */
nav {
  padding: 0px 10%;
  background-color: rgba(0, 0, 0, 0.322);

  backdrop-filter: blur(15px);
  position: fixed;

  z-index: 1000;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  padding: 2vw;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #dca854;
  font-size: 1.2rem;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #006600;
}

/* Dropdown menu */
.dropdown-menu {
  display: none;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.418);
}

nav ul li:hover .dropdown-menu {
  display: block;
  transition-duration: 0.3s;
}

.dropdown-menu ul {
  display: block;
  margin: 10px;
}

.dropdown-menu ul li {
  padding: 10px 30px;
}

/* Button styles */
button {
  font-size: 18px;
  font-weight: bold;
  color: #006600;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  padding: 8px 12px;
  transition: 0.5s;
  width: auto;
  font-family: Poppins;
  height: auto;
  transition-duration: 0.3s;
}

.hero-text button {
  margin-top: 2%;
}

button:hover {
  color: #ffffff;
  background-color: #9ebc8a;
  transform: scale(1.2);
}

/* Logo styles */
.logo {
  display: block;

  transition-duration: 0.3s;
  overflow: hidden;
}

.logo:hover {
  transform: scale(1.2);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* first image with text  */
/* mid-section-text-left */

.mid-section {
  opacity: 1;
  transform: translateX(0);
  text-align: justify;
  justify-content: space-evenly;
}

.mid-section-text-left {
  margin-left: 15vw;
  margin-top: 12vw;
}

.mid-section-text-left h2 {
  font-family: Merriweather;
  font-size: 2vw;
}

.mid-section-text-left p {
  margin-top: 2%;
  font-family: Poppins;
  font-size: 17px;
  text-align: justify;
}

.mid-section-left {
  display: flex;

  flex-wrap: wrap;
}

.pakistani-culture {
  color: #006600;
}

.mid-section-left img {
  width: 100%;
  height: auto;
  margin-right: 5%;
  border-radius: 10px;
}

#slideshow {
  justify-content: right;
  overflow: hidden;
  height: 470px;
  width: 728px;
  margin: 0 auto;
  margin-top: 6vw;
  border-radius: 3%;
  transition-duration: 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide-wrapper {
  width: calc(728px * 5);
  animation: slide 15s ease infinite;
}

@keyframes slide {

  0%,
  15% {
    margin-left: 0px;
  }

  35% {
    margin-left: calc(-728px * 1);
  }

  55% {
    margin-left: calc(-728px * 2);
  }

  75% {
    margin-left: calc(-728px * 3);
  }

  90% {
    margin-left: calc(-728px * 4);
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* second image with text */
/* mid-section-text-right */

.mid-section-right {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  overflow: hidden;
}

.mid-section-text-right {
  margin-right: 8%;
  padding-top: 10%;
}

.mid-section-text-right h2 {
  font-family: Merriweather;
  font-size: 2vw;
  margin-left: -5vh;
}

.mid-section-text-right p {
  margin-top: 2%;
  font-family: Poppins;
  font-size: 17px;
  text-align: justify;
  margin-left: -7%;
}

.pakistani-culture {
  color: #006600;
}

.mid-section-right img {
  width: 100%;
  height: auto;

  transition-duration: 0.3s;
}

.mid-section-right img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* third image with text */

.mid-section-left-2 {
  display: flex;
  overflow: hidden;
}

.mid-section-text-left-2 {
  margin-left: 10%;
  padding-top: 10%;
}

.mid-section-text-left-2 h2 {
  font-family: Merriweather;
  font-size: 4vh;
  margin-left: 5vh;
}

.mid-section-text-left-2 p {
  margin-top: 10px;
  font-family: Poppins;
  font-size: 17px;
  text-align: justify;
  margin-left: 5vh;
}

.pakistani-culture {
  color: #006600;
}

.mid-section-left-2 img {
  width: 100%;
  height: auto;

  transition-duration: 0.3s;
}

/*---------------------------------------------------------- fourth image with text--------------------------------------------- */
/*---------------------------------------------------------- mid-section-text-right-2------------------------------------------ */

.mid-section-right-2 {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.mid-section-text-right-2 {
  margin-right: 19vh;

  padding-top: 11%;
}

.mid-section-text-right-2 h2 {
  font-family: Merriweather;
  font-size: 2vw;
  margin-left: -6vh;
}

.mid-section-text-right-2 p {
  margin-top: 2%;
  font-family: Poppins;
  font-size: 17px;
  text-align: justify;
  margin-left: -6vh;
}

.pakistani-culture {
  color: #006600;
}

.mid-section-right-2 img {
  width: 100%;
  height: auto;
  transition-duration: 0.3s;
}

.mid-section-right-2 img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*CARDS SECTION*/

.cards-section {
  background-color: #FFF3CD;
  padding-bottom: 3%;
  transition-duration: 0.3s;
  position: relative;
}

.cards-section p {
  text-align: justify;
  font-weight: 400;
}

.cards-section h3 {
  padding-top: 5%;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 10%;

  font-family: Merriweather;
  font-size: 35px;
  color: #C2410C;
}

.card h4 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: Poppins;
  font-size: 25px;
  color: #C2410C;
  transition-duration: 0.3s;
  border-bottom: 2px solid transparent;
}

.card h4:hover {
  border-bottom: 2px solid #C2410C;
}

.card .container p {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: Poppins;
  line-height: 1.6;
}

.container p {
  margin-bottom: 15%;
}

.card {
  overflow: hidden;
  transition: 0.3s;
  width: 100%;

  border-radius: 5px;
  background-color: #ffffff;
}

.card:hover {
  background: #e2d8b8;
  color: #1C1C1C;
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.726);
}

.card img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.three-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

#slideshow-two {
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
}

.slide-wrapper-two {
  display: flex;
  width: calc(400px * 10);
  /* Double width to hold duplicate slides */
  animation: slide-two 15s linear infinite;

  padding: 0.8% 0%;
  gap: 1%;
}

#slideshow-two:hover .slide-wrapper-two {
  animation-play-state: paused;
}

.slide-two {
  flex: 0 0 400px;
}

@keyframes slide-two {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-400px * 5));
  }
}

/* ---------------------------------------------------------------------------------end of second card section---------------------------------------------------------------------------------------  */

/* ---------------------------------------------------------------------------------start of third card section---------------------------------------------------------------------------------------  */

.cards-section-3 {
  background-color: #d2d0a0;
  padding-bottom: 5%;
}

.cards-section-3 p {
  text-align: justify;
  font-weight: 400;
}

.cards-section-3 h3 {
  padding-top: 5%;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 10%;

  font-family: Merriweather;
  font-size: 35px;
  color: #ffffff;
}

.card-three h4 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: Poppins;
  font-size: 25px;
  align-items: baseline;
  border-bottom: 2px solid transparent;
}

.card-three h4:hover {
  border-bottom: 2px solid white;
}

.card-three .container-three p {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: Poppins;
  line-height: 1.6;
}

.card-three {
  overflow: hidden;
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
}

.card-three:hover {
  background: #c2c093;
  color: #ffffff;
  cursor: pointer;
  transform: scale(1.03);
}

.card-three img {
  border-radius: 5px 5px 0 0;
}

.card-three:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.726);
}

.container-three {
  padding: 2px 16px;
}

.three-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

#slideshow-three {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slide-wrapper-three {
  display: flex;
  width: calc(400px * 10);
  /* Double width to hold duplicate slides */
  animation: slide-two 15s linear infinite;
  padding-top: 0.8%;
  padding-bottom: 2%;

  gap: 1%;
}

#slideshow-three:hover .slide-wrapper-three {
  animation-play-state: paused;
}

.slide-three {
  flex: 0 0 400px;
}

@keyframes slide-three {
  0% {
    transform: translateX(calc(-400px * 5));
  }

  100% {
    transform: translateX(0);
  }
}

/* ------------------------------------------------------------------------------footer-----------------------------------------------------------------------------*/
/* Footer Base */

footer {
  background-color: #333b41;
  padding: 40px 5%;
  color: #d3d3d3;
 flex-wrap: wrap;
  font-family: Poppins, sans-serif;
}

/* Footer Main Container */
.main-fot-container {
  display: flex;
  justify-content: space-between;
  /* Equal spacing */
  align-items: flex-start;
  /* Align to the top */
  gap: 5vw;
  /* Adjusts spacing between sections */
  padding: 20px 5%;
  /* Adds some padding */
  flex-wrap: wrap;
  margin-top: 5%;
  /* Prevents wrapping */
}

/* Logo Section */
.first-fot-container {
  width: 30%;
  margin-top: 10px;
}

.first-fot-container .logo {
  width: 25vh;
  height: auto;
}

.footer-text-one {
  text-align: justify;
  font-size: 20px;
  margin-top: 20px;
}

/* Contact Section */
.second-fot-container {
  width: 30%;
  text-align: left;
}

.second-fot-container h5 {
  color: #006600;
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}

.second-fot-container h5:hover {
  border-bottom: 3px solid #006600;
  color: white;
}

/* Contact Items */
.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.first-fot-container,
.second-fot-container,
.third-fot-container {
  width: 30%;
  /* Ensures equal width */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.second-fot-container {
  text-align: center;
  display: inline;
  justify-content: center;
  margin-top: 4%;
}

.third-fot-container {
  margin-top: 10%;
}

/* Contact Icon Background */
.fot-icon {
  width: 50px;
  height: 50px;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* Icon Images */
.fot-icon img {
  width: 35px;
  height: 35px;
  transition: 0.3s ease;
  padding: 0;
}

.contact-item p {
  letter-spacing: 1;
}

.fot-icon:hover img {
  transform: scale(1.3);
}

/* Footer Navigation */
.third-fot-container {
  width: 20%;
  text-align: left;
  pointer-events: fill;
}

.third-fot-container ul {
  padding: 0;
}

.third-fot-container ul li {
  list-style: none;
  margin-bottom: 15px;
}

.third-fot-container ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #dca854;
  transition: 0.3s;
  font-size: 20px;
}

.third-fot-container ul li a:hover {
  color: #006600;
}

.third-fot-container a {
  position: relative;
  z-index: 10;
}

.LinkdIn {
  width: 100%;
  text-align: left;
  padding-top: 10px;
}

/* Footer Decorative Image */
.footer-decor {
  width: 600px;
  height: auto;

  margin-top: 50px;
  margin-right: -180px;
  margin-left: -600px;
  margin-bottom: -59px;
  position: relative;
  overflow: hidden;
}

